<menu>
    <VPN>
        <Magic VisibleName="Proxy Suite" cssClass="fa fa-lock fa-fw">
            <clash VisibleName="Clash" order="10" url="/services_clash.php"/>
			<mosdns VisibleName="MosDNS" order="20" url="/services_mosdns.php"/>
            <tun2socks VisibleName="Tun2Socks" order="30" url="/services_tun2socks.php"/>
            <sub VisibleName="Subscribe" order="40" url="/sub.php"/>
        </Magic>
    </VPN>
</menu>
